<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
    <strong>Author:</strong>
    <%= book.author %>
    <strong>Cost:</strong>
    <%= book.cost %>
    <strong>Date:</strong>
    <%= book.publication_date %>
  </p>

</div>
