<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
    <strong>Author:</strong>
    <%= book.author %>
    <strong>Cost:</strong>
    <%= book.cost %>
    <strong>Publication Date:</strong>
    <%= book.publication_date %>
    <strong>Publisher:</strong>
    <%= book.publisher %>
    <strong>Pages:</strong>
    <%= book.pages %>
    <strong>Release Date:</strong>
    <%= book.release_date %>
  </p>

</div>
